<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Splitbook</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
      body
      {
          font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
      }
  </style>
</head>
<body>
<nav class="navbar navbar-expand-lg bg-primary">
    <div class="container-fluid ">
        <a class="navbar-brand text-light" href="#"><b>SplitBook</b></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav" style="margin-left:auto;margin-right:10px">
                <li class="nav-item">
                    <form method="post" action="/logout">
                        <button type="submit" class="btn btn-primary">Logout</button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col" style="height: 150px;">

        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-1"></div>
        <div class="col-10">
            <div class="row">
                <div name="title" style="height:100px;">
                    <span style="font-size:35px;font-style:italic">Welcome,</span>
                    <span style="font-size:35px;font-style:italic;color:#000099" th:text="${user.name}"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="card text-bg-primary mb-3" style="max-width: 23rem;">
                        <div class="card-body mt-3">
                            <h5 class="card-title"><b>Manage my trips</b></h5>
                            <br>
                            <p class="card-text">Let SplitBook handle all your expenses and contributions so that your trip goes hassle-free.</p>
                            <a href="/welcome" class="btn btn-outline-light mb-3">Show my trips</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card" style="max-width: 25rem;">
                        <div class="card-header text-bg-primary" style="font-weight:bold;font-size:20px">Add your trip</div>
                        <div class="card-body">
                            <form name="addtripform" method="post" action="/addtripprocess">
                                <div class="mb-4">
                                    <label for="tripname" class="form-label">Name of the trip</label>
                                    <input type="text" class="form-control" id="tripname" name="tripname" placeholder="Give a name to your memorable trip">
                                </div>
                                <button type="submit" class="btn btn-primary">Add trip!</button>
                                <div class="mb-3">
                                    <span th:text="${msg}"></span>
                                    <br>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-1"></div>
    </div>
</div>
</body>
</html>